@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.stripe {
  position: relative;
  height: 100%;
  width: 12rem;
  margin-left: 15%;
  /* background-color: #DBD7D3; */
  background-color: #d8d8d8;
  font-family: 'Macondo', cursive;
  color: white;
  text-align: center;
}

.stripe-contents {
  position: absolute;
  width: 100%;
  top: 10vh;
}

.logo {
  /* background-color: #C7C3C0; */
  background-color: #C3C3C3;
  text-align: center;
  font-size: 6rem;
  padding-top: .5rem;
}

.controls-toggle {
  margin-top: .5rem;
  font-size: 2.3rem;
  cursor: pointer;
  background-color: initial;
  border: none;
  outline: 0;
  color: white;
  font-family: 'Macondo', cursive;
}
