@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

html, body {
  height: 100%
}

body {
  perspective: 600px;
  background: #ebe9e7;
  margin: 0px;
}

.object {
  left: 50%;
  top: 55%;
  position: absolute;
  transform-style: preserve-3d;
}

.stripe {
  position: absolute;
  height: 100%;
  width: 180px;
  margin-left: 15%;
  background: #DBD7D3;

  font-family: 'Macondo', cursive;
  color: white;
  text-align: center;
}

.logo {
  margin-top: 100px;
  background: #C7C3C0;

  text-align: center;
  font-size: 100px;
}

.guide {
  margin-top: 5px;
  font-size: 40px;
}
