@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

html, body {
  height: 100%
}

body {
  background: #ebe9e7;
  margin: 0;
}

.root {
  height: 100%;
}

.app {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.object {
  left: 50%;
  top: 50%;
  position: absolute;
  transform-style: preserve-3d;
}

.viewport {
  display: relative;
  flex: 1;
  height: 100%;
}

.controls {
  /* width: 20rem; */
  background-color: #C7C3C0;
  height: 100%;
  z-index: 1;
  display: none;
}

.stripe {
  position: absolute;
  height: 100%;
  width: 12rem;
  margin-left: 15vw;
  background: #DBD7D3;
  font-family: 'Macondo', cursive;
  color: white;
  text-align: center;
}

.logo {
  margin-top: 10vh;
  background: #C7C3C0;
  text-align: center;
  font-size: 6rem;
  padding-top: .5rem;
}

.controls-toggle {
  margin-top: .5rem;
  font-size: 2.3rem;
}

.scape-manager {
  position: relative;
  /* height: 50vh; */
  /* padding-top: 100vh; */
  height: 0;
  margin-top: 60vh;
  width: 100%;
  /* padding-top: 100vh; */
  /* margin-top: 10vh; */
  perspective: 40rem;
  /* perspective-origin: 50% 50%; */
  transform-style: preserve-3d;
}