@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');


html, body {
  height: 100%
}

body {
  background: #ebe9e7;
  margin: 0;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  height: 100%;
  /* flex-direction: row; */
}

.object {
  left: 50%;
  top: 50%;
  position: absolute;
  transform-style: preserve-3d;
}

.sidebar {
  perspective: 100rem;
  perspective-origin: 50vw 50vh;
  /* position: absolute; */
  position: relative;
  height: 100%;
  width: 13rem;
  /* margin-left: 15%; */
  background: #C7C3C0;
  font-family: 'Macondo', cursive;
  color: white;
  z-index: 9999999;
  /* border-right: .5rem solid #C7C3C0; */
  /* border-right: .2rem solid black; */
}

.sidebar-side {
  background-color: #BCB7B3;
  position: absolute;
  width: 2rem;
  height: 100%;
}

.logo {
  position: relative;
  margin-top: 5rem;
  height: 9rem;
  background: #DBD7D3;
  text-align: center;
  font-size: 7rem;
  line-height: 9.5rem;
  transform-style: preserve-3d;
  z-index: 10000;
}

.logo-side-wrapper, .sidebar-side-wrapper {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  transform: rotateY(90deg);
  transform-style: preserve-3d;
}

.logo-side {
  background-color: #C8C2BC;
  position: absolute;
  width: 2rem;
  height: 100%;
}

.menu * {
  margin-top: .5rem;
  margin-left: 1rem;
  font-size: 2.6rem;
}

.scape-manager {
  position: relative;
  perspective: 38rem;
  /* perspective-origin: 50vw 40vh; */
  /* height: 100%; */
  /* top: 10vh; */
  margin-top: 15vh;
  flex: 1;
  /* height: 0; */
}